{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_physical_clusters:physicalcluster_list' %}?cluster_type_id={{ object.type.pk }}">{{ object.type }}</a></li>
{% endblock %}

{% block extra_controls %}
  {% if perms.netbox_physical_clusters.change_cluster %}
    <a href="{% url 'plugins:netbox_physical_clusters:physicalcluster_add_devices' pk=object.pk %}?site={{ object.site.pk }}&return_url={{ object.get_absolute_url }}" class="btn btn-primary btn-sm">
      <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Assign Device
    </a>
  {% endif %}
{% endblock %}
