{% extends 'generic/object_children.html' %}
{% load helpers %}

{% block bulk_delete_controls %}
    {{ block.super }}
    {% if 'bulk_remove_devices' in actions %}
        <button type="submit" name="_remove"
                formaction="{% url 'plugins:netbox_physical_clusters:physicalcluster_remove_devices' pk=object.pk %}?return_url={{ return_url }}"
                class="btn btn-danger btn-sm">
            <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Remove Devices
        </button>
    {% endif %}
{% endblock bulk_delete_controls %}
