version: '3.8'
services:
  device-grp-db:
    image: "postgres:15.4-alpine"
    container_name: "device-grp-db"
    hostname: "device-grp-db"
    env_file:
      - "dev.env"
      - "creds.env"
    ports:
      - "5432:5432"
    healthcheck:
      test: "pg_isready --username=$$POSTGRES_USER --dbname=$$POSTGRES_DB"
      interval: "10s"
      timeout: "5s"
      retries: 10
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
volumes:
  postgres_data: {}
