{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% load i18n %}

{% block extra_controls %}
  {% if perms.netbox_physical_clusters.add_physicalcluster %}
    <a href="{% url 'plugins:netbox_physical_clusters:physicalcluster_add' %}?cluster_type={{ object.pk }}" class="btn btn-sm btn-primary">
      <span class="mdi mdi-plus-thick" aria-hidden="true"></span> {% trans "Add Cluster" %}
    </a>
  {% endif %}
{% endblock extra_controls %}

{% block content %}
<div class="row mb-3">
	<div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">
        {% trans "Cluster Type" %}
      </h5>
      <div class="card-body">
        <table class="table table-hover card-body attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Clusters" %}</th>
            <td>
              <a href="{% url 'plugins:netbox_physical_clusters:physicalcluster_list' %}?cluster_type_id={{ object.pk }}">{{ object.clusters.count }}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% include 'inc/panels/tags.html' %}
    {% plugin_left_page object %}
	</div>
	<div class="col col-md-6">
    {% include 'inc/panels/related_objects.html' %}
    {% include 'inc/panels/custom_fields.html' %}
    {% plugin_right_page object %}
  </div>
</div>
<div class="row">
	<div class="col col-md-12">
    {% plugin_full_width_page object %}
  </div>
</div>
{% endblock %}